section {
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  flex-direction: column;
}

.salad {
  min-height: 649px;
  background-image: url(../background/salad.png);
}

.we__vegetables {
  min-height: 649px;
  background-image: url(../background/vegetables.png);
}