.user-photo {
  display: block;
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.user h4 {
  font-family: "Gagalin", "Ubuntu", "Arial", sans-serif;
  line-height: 2;
  color: #fff;
}