.wrapper {
  height: 650px;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  flex-direction: column;
}

.wrapper__salad {
  background-image: url(../background/salad.png);
}

.wrapper__vegetables {
  background-image: url(../background/vegetables.png);
}