html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: #2f3234;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}
