//Страница О Компании, что делают//
.about__list {
  display: flex;
}

.about__item {
  margin-right: 37px;
  text-align: center;
}

.about__item:last-child {
  margin-right: 0;
}

.about__pic {
  margin-bottom: 35px;
}