.btn {
  padding: 12px 15px;
  background: #E45028;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  &:hover {
    background-color: #C1401E;
  }
}

.btn__gray {
  width: 110px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #2f3234;
  
  &:hover {
    background-color: #1f2122;
  }
}