.btn {
  padding: rem(12px) rem(15px);
  background: #E45028;
  border-radius: rem(5px);
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: rem(13px);
  font-weight: 500;
  transition: 0.3s;
  
  &:hover {
    background: #C1401E;
  }

  &--color {
    
    &--gray {
      background: #2f3234;

      &:hover {
        background: #1f2122;
      }
    }
  }

  &-reset {
    background: none;
    padding: 0;
    text-transform: none;
    font-size: rem(14px);

    &:hover {
      background: none;
    }
  }
}
