.btn {
  padding: rem(12px) rem(15px);
  background: #E45028;
  border-radius: rem(5px);
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: rem(13px);
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #C1401E;
}
.btn--color--gray {
  background: #2f3234;
}
.btn--color--gray:hover {
  background: #1f2122;
}
.btn-reset {
  background: none;
  padding: 0;
  text-transform: none;
  font-size: rem(14px);
}
.btn-reset:hover {
  background: none;
}