.contact__address {
  color: #FFFFFF;
  margin-bottom: rem(5px);  
  font-size: rem(14px);
  font-style: normal;
}

.contact__phone {
  color: #e45028;
  text-decoration: none;
  font-style: normal;  
  font-size: rem(14px);
}