.footer {
  background: url(../background/footer.jpg) center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phones {
    flex-direction: column;
    text-align: center;
  }
}

.footer__contacts {
  width: 50%;
  margin-bottom: rem(12px);

  @include phones {
    width: initial;
  }
}

.footer__social {
  width: 50%;

  @include phones {
    width: initial;
  }
}
