.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.875rem;
  margin-bottom: 1.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
  display: block;
}
.form__block:last-child {
  margin-right: 0;
}
.form__block-title {
  margin-bottom: 0.4375rem;
}

.form__input {
  background: #FFFFFF;
  border-radius: 0.1875rem;
  border: none;
  padding: 0.5rem 0.625rem;
  width: 100%;
}
.form__input--textarea {
  resize: none;
  height: 6.875rem;
}

.radio-custom {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
.radio-custom + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.25rem;
  cursor: pointer;
}
.radio-custom + label:last-child {
  margin-right: 0;
}
.radio-custom + label::before {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  margin-right: 0.625rem;
  background-size: 50% 50%;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.radio-custom:checked + label::before {
  border: 0.3125rem solid #FFF;
  width: 0.4375rem;
  height: 0.4375rem;
  background: #e35028;
}
.radio-custom:not(:checked) + label:hover::before {
  border-color: #e35028;
}

.form__checkbox {
  margin-top: 13px;
}

.checkbox__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.checkbox-custom {
  display: none;
}

.checkbox__checkmark {
  content: "";
  position: relative;
  width: 1rem;
  height: 0.9375rem;
  border: 0.0625rem solid #fff;
  margin-right: 0.625rem;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.checkbox__checkmark::before {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 0.4375rem;
  margin: 0rem 0.25rem;
  border: solid #e35028;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkbox-custom:checked + .checkbox__checkmark::before {
  opacity: 1;
}

.radio-custom:checked + .radio__checkmark::before {
  opacity: 1;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
}
.form__button .btn {
  margin-right: 1.25rem;
}