.form__elem {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 18px;
}

.form__column {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 20px;
  display: block;

  &:last-child {
    margin-right: 0;
  }

  &-title {
    margin-bottom: 7px;
  }
}

.form__block--margin {
  margin-right: 0;
}

.form__input {
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  padding: 8px 10px;
  width: 100%;

  &--textarea {
    resize: none;
    height: 110px;
  }
}

.radio-custom {
  position: absolute;
  z-index: -100;
  opacity: 0;

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      background-color: #fff;
    }
  }
  
  &:checked+label::before {
    background-color: #FFF;    
    border: 5px solid #FFF;
    width: 7px;
    height: 7px;
    background: #e35028;
  }

  &:not(:checked)+label:hover::before {
    border-color: #e35028;
  }
}

.form__checkbox {
  margin-top: 13px;
}

.checkbos__style {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked, .checkbox__checkmark {
      background-color: #fff;
    }
  }
}

// .chekbox-custom {
//   position: absolute;
//   z-index: -100;
//   opacity: 0;

//   &+label {
//     display: flex;
//     align-items: center;
//     user-select: none;
//     cursor: pointer;

//     &::before {
//       content: "";
//       display: flex;
//       width: 16px;
//       height: 15px;
//       flex-shrink: 0;
//       flex-grow: 0;
//       border: 1px solid #fff;
//       margin-right: 10px;
//       background-repeat: no-repeat;
//       background-position: center center;
//       background-size: 50% 50%;
//       background-color: #fff;
//     }
//   }


//   &:checked + label::before {
//     content: "\2713";    
//     color: #333;
//     justify-content: center;
//     align-items: center;
//   }

//   &:not(:checked)+label:hover::before {
//     border-color: #e35028;
//   }
// }

.form__button {
  margin-left: 480px;

  & .btn {
    margin-right: 20px;
  }
}