.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  margin-bottom: 18px;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  display: block;
}
.form__block:last-child {
  margin-right: 0;
}
.form__block-title {
  margin-bottom: 7px;
}

.form__block--margin {
  margin-right: 0;
}

.form__input {
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  padding: 8px 10px;
  width: 100%;
}
.form__input--textarea {
  resize: none;
  height: 110px;
}

.radio-custom {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
.radio-custom + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
  cursor: pointer;
}
.radio-custom + label:last-child {
  margin-right: 0;
}
.radio-custom + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #fff;
}
.radio-custom:checked + label::before {
  background-color: #FFF;
  border: 5px solid #FFF;
  width: 7px;
  height: 7px;
  background: #e35028;
}
.radio-custom:not(:checked) + label:hover::before {
  border-color: #e35028;
}

.form__checkbox {
  margin-top: 13px;
}

.checkbos__style {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbos__style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbos__style input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}

.form__button {
  margin-left: 480px;
}
.form__button .btn {
  margin-right: 20px;
}