.form__elem {
  display: flex;
  align-items: flex-start;
  font-size: rem(14px);

  @include tablets {
    flex-direction: column;
    padding: 0 10%;
  }

  @include phones {
    padding: 0;
  }
}

.form__column {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }

  &--width--max {
    width: 100%;

    @include tablets {
      margin-top: rem(20px);
    }
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(16px);

  &:last-child {
    margin-bottom: 0;
  }

  &--margin {
    @include phones {
      margin-bottom: 0;
    }
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
  display: block;

  &--hidden-on-mobile {
    @include phones {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--hidden-on-mobile {
    @include phones {
      display: none;
    }
  }

  &--margin-on-mobile {
    @include phones {
      margin-right: 0;
    }
  }

  &-title {
    margin-bottom: rem(7px);    
  }

  &-buttons {
    @include phones {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rem(40px);
    }
  }
}

.input {
  background: #FFFFFF;
  border-radius: rem(3px);
  border: none;
  padding: rem(8px) rem(10px);
  width: 100%;

  &--textarea {
    resize: none;
    height: rem(110px);
  }
}

.radio-block--custom {
  position: absolute;
  z-index: -100;
  opacity: 0;

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: rem(15px);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      width: rem(15px);
      height: rem(15px);
      border: rem(1px) solid #fff;
      border-radius: 50%;
      margin-right: rem(8px);
      background-size: 50% 50%;
      background-color: #fff;
      transition: .2s;
    }
  }
  
  &:checked+label::before {  
    border: rem(5px) solid #FFF;
    width: rem(7px);
    height: rem(7px);
    background: #e35028;
  }

  &:not(:checked)+label:hover::before {
    border-color: #e35028;
  }
}

.form__checkbox {
  margin-top: rem(13px);

  @include phones {
    margin-top: rem(40px);
  }
}

.checkbox-block {

  &--holder {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &--custom {
    display: none;
  }

  &--checkmark {
    content: "";
    position: relative;
    width: rem(16px);
    height: rem(15px);
    border: rem(1px) solid #fff;
    margin-right: rem(10px);
    background-color: #fff;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      width: rem(3px);
      height: rem(7px);
      margin: rem(0px) rem(4px);
      border: solid #e35028;
      border-width: 0 rem(3px) rem(3px) 0;
      transform: rotate( 45deg);
      opacity: 0;
      transition: .2s;
    }
  }
}

.checkbox-block--custom:checked + .checkbox-block--checkmark::before {
  opacity: 1;
}

.form__button {
  display: flex;
  margin-top: rem(20px);

  @include phones {
    margin-top: rem(40px);
  }

  & .btn {
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }
}