.header {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 5.75rem;
  height: 4.3125rem;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__menu {
  flex: 1;
  margin-right: 0.9375rem;

  @media (max-width: 768px) {
    display: none;
  }
}