.hello__header {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__logo {  
  margin-left: 78px;
  margin-right: 69px;
}

.header__right {
  margin-left: 15px;
  margin-right: 80px;
}