.hello__desk {
  width: 406px;
  margin-top: 147px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello__title {
  font-family: "Gagalin", "Ubuntu", "Arial", sans-serif;
  font-size: 72px;
  color: #F9B43B;
  line-height: 85px;
}

.hello__subtitle {
  font-family: "Lifehack", "Ubuntu", "Arial", sans-serif;
  font-size: 65px;
  color: #FFFFFF;
  line-height: 60px;
  letter-spacing: -1.63px;
}