.hello {
  background: url(../background/salad.png) center center/cover no-repeat;
}

.hello__container {
  height: 100%;
}

.hello__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.hello__desc {
  padding-top: 70px;
  margin-left: 11px;
}