.hello {
  background: url(../background/salad.png) center center / cover no-repeat;
  position: relative;
}

.hello__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hello__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 0.8;
  justify-content: center;
  max-width: 100%;

  @include tablets {
    flex-direction: column;
    padding: 0 11%;
  }

  @include phones {
    flex-direction: column;
    padding: 0 15%;
  }
}

.hello__content-picture {
  max-width: rem(472px);
  width: 49%;
  margin-right: rem(11px);

  @include tablets {
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(35px);
  }
}

.burgers-pic {
  width: 100%;
}


.hello__desc {
  width: 49%;
  padding-top: rem(99px);

  @include tablets {
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
}