.hello {
  background: url(../background/salad.png) center center / cover no-repeat;
}

.hello__container {
  height: 100%;
}

.hello__content {
  display: flex;
  align-items: center;
  flex: 0.8;
}

.hello__desc {
  padding-top: 70px;
  margin-left: 11px;
}