.nav {
  margin-right: 15px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {  
  display: flex;
  align-items: center;  
  margin-right: 15px;
  font-weight: 500;
  
  &::after {
    content: "\2022";
    color: #ffffff;
    margin-left: 15px;
    display: block;
  }

  &:last-child {
    margin-right: 0;
      &::after {
      display: none;
      }
  }
}

.nav__link {
  color: #ffffff;  
  font-size: 13px;

  &:hover {
    text-decoration: underline;
  }
}