.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav__item {  
  display: flex;
  align-items: center;  
  margin-right: rem(15px);
  font-weight: 500;
  
  &::after {
    content: "\2022";
    color: #ffffff;
    margin-left: rem(15px);
    display: block;
  }

  &:last-child {
    margin-right: 0;
      
    &::after {
      display: none;
    }
  }
}

.nav__link {
  color: #ffffff;  
  font-size: rem(13px);
  text-transform: uppercase;

  &:hover {    
    text-decoration: underline;
  }
}