.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;  
  filter: grayscale(100%);

  &:hover {    
    .reviews__hover {
      opacity: 1;      
    }
  }
}

.reviews__hover {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.7);  
  padding: 2.5rem 1.1875rem 1.1875rem;  
  opacity: 0;
  transition: opacity 0.4s;
  overflow-x: hidden;

  & .title {
    margin-bottom: 1.875rem;
  }

  & .btn {
    margin-top: 0.9375rem;
  }
}

.reviews__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}