.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews__item {
  display: block;
  position: relative;
  overflow: hidden;
  min-width: 275px;
  min-height: 325px;
}

.reviews__desk {
  display: none;
  position: absolute;
  width: 275px;
  height: 325px;
  bottom: 0;
  padding-top: 40px;
  padding-left: 19px;
}

.reviews__item:hover .reviews__desk {
  display: block;
}
.reviews__item:hover .user-photo {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.reviews__detailed {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}