.scroll-down-btn {
  max-width: 1.8125rem;
  max-height: 0.875rem;
  display: block;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  fill: #FFFFFF;
}