.scroll-down-btn {
  max-width: rem(29px);
  max-height: rem(14px);
  // background: url('../pic/arrow-down.png') center center / contain no-repeat;
  display: block;
  position:absolute;
  bottom: rem(20px);
  left: 50%;
  transform: translate(-50%);
  fill: #FFFFFF;
}