.scroll-down-btn {
  max-width: 1.8125rem;
  max-height: 0.875rem;
  background: url("../pic/arrow-down.png") center center/contain no-repeat;
  display: block;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}