.section {
  height: 100vh;
  min-height: rem(970px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--non-centered {
    justify-content: flex-start;
  }

  // @media (max-width: 768px) {
  //   min-height: 64rem;
  // }

  // @media (max-width: 480px) {
  //   min-height: 50rem;
  // }
}