section {
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hello {
  background-image: url(../background/salad.png);
}

.we__vegetables {
  background-image: url(../background/vegetables.png);
}