.title {
  font-family: 'Gagalin', sans-serif;
  font-size: 72px;
  color: #F9B43B;
  line-height: 1;
  margin-bottom: 50px;

  &--color {
    &--black {
      color: #2F3234
    }

    &--white {
      color: #FFFFFF;
    }
  }

  &--centered {
    text-align: center;
  }

  &--size {
    &--small {
      font-size: 14px;
    }
  }
}

.subtitle {
  font-family: 'Lifehack', sans-serif;
  font-size: 65px;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: -1.63px;

  &--size {
    &--small {
      font-size: 24px;
      letter-spacing: -0.6px;
    }
  }

  &--color {
    &--black {
      color: #2f3234;
    }
  }
}