.title {
  font-family: "Gagalin", sans-serif;
  font-size: 4.5rem;
  color: #F9B43B;
  line-height: 1;
  margin-bottom: 3.125rem;
}
@media (max-width: 480px) {
  .title {
    font-size: 3.9375rem;
  }
}
.title--color--black {
  color: #2F3234;
}
.title--color--white {
  color: #FFFFFF;
}
.title--centered {
  text-align: center;
}
.title--size--small {
  font-size: 0.875rem;
}
@media (max-width: 480px) {
  .title--size--small {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-family: "Lifehack", sans-serif;
  font-size: 4.0625rem;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: -0.1rem;
}
@media (max-width: 480px) {
  .subtitle {
    font-size: 3.375rem;
  }
}
.subtitle--size--small {
  font-size: 1.53125rem;
  letter-spacing: -0.0375rem;
}
.subtitle--color--black {
  color: #2f3234;
}