.title {
  font-family: 'Gagalin', sans-serif;
  font-size: 4.5rem;
  color: #F9B43B;
  line-height: 1;
  margin-bottom: 3.125rem;

  &--color {
    &--black {
      color: #2F3234;
    }

    &--white {
      color: #FFFFFF;
    }
  }

  &--centered {
    text-align: center;
  }

  &--size {
    &--small {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 480px) {
    font-size: 3.9375rem;
  }
}

.subtitle {
  font-family: 'Lifehack', sans-serif;
  font-size: 4.0625rem;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: -0.1rem;

  &--size {
    &--small {
      font-size: 1.5rem;
      letter-spacing: -0.0375rem;
    }
  }

  &--color {
    &--black {
      color: #2f3234;
    }
  }

  @media (max-width: 480px) {
    font-size: 3.1875rem;
  }
}