.title {
  font-family: "Gagalin", sans-serif;
  font-size: rem(72px);
  color: #F9B43B;
  line-height: 1;
  margin-bottom: rem(50px);
}
@media (max-width: 480px) {
  .title {
    font-size: rem(63px);
  }
}
.title--color--black {
  color: #2F3234;
}
.title--color--white {
  color: #FFFFFF;
}
.title--centered {
  text-align: center;
}
.title--size--small {
  font-size: rem(14px);
}
@media (max-width: 480px) {
  .title--size--small {
    font-size: rem(24px);
  }
}

.subtitle {
  font-family: "Lifehack", sans-serif;
  font-size: rem(65px);
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: rem(-1.6px);
}
@media (max-width: 480px) {
  .subtitle {
    font-size: rem(54px);
  }
}
.subtitle--size--small {
  font-size: rem(24.5px);
  letter-spacing: rem(-0.6px);
}
.subtitle--color--black {
  color: #2f3234;
}