.we {
  background: url(../background/vegetables.png) center center/cover no-repeat;
}

.we__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 35px;
  text-align: center;
}
.we__item:last-child {
  margin-right: 0;
}

.we__picture {
  margin-bottom: 34px;
}

.we__desc .subtitle {
  margin-bottom: 19px;
}