.we {
  background: url(../background/vegetables.png) center center/cover no-repeat;
}

.we__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 480px) {
  .we__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.1875rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.we__item:last-child {
  margin-right: 0;
}
@media (max-width: 480px) {
  .we__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }
}

.we__picture {
  width: 6.0625rem;
  height: 5.5625rem;
  margin-bottom: 2.125rem;
}
.we__picture .meat {
  fill: #E35028;
}
.we__picture .hand {
  fill: #F9B43B;
}
.we__picture .natural {
  fill: #8BC03F;
}

.we__desc .subtitle {
  margin-bottom: 1.1875rem;
}