.we {
  background: url(../background/vegetables.png) center center / cover no-repeat;
}

//О Компании, что делают//
.we__list {
  display: flex;
}

.we__item {
  flex: 1;
  margin-right: 2.1875rem;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.we__picture {
  max-width: 6.0625rem;
  max-height: 5.5625rem;
  margin-bottom: 2.125rem;
  

  & .meat {
    fill: #E35028;
  }

  & .hand {
    fill: #F9B43B;
  }

  & .natural {
    fill: #8BC03F;
  }
}

.we__desc .subtitle {
  margin-bottom: 1.1875rem;
}