.we {
  background: url(../background/vegetables.png) center center / cover no-repeat;
}

//О Компании, что делают//
.we__list {
  display: flex;
}

.we__item {
  flex: 1;
  margin-right: 2.1875rem;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.we__picture {
  margin-bottom: 2.125rem;
}

.we__desc .subtitle {
  margin-bottom: 1.1875rem;
}